<!-- login.handlebars -->
<form action="/login" method="POST">
    <input type="email" name="email" placeholder="Correo electr칩nico" required>
    <input type="password" name="password" placeholder="Contrase침a" required>
    <input type="text" name="nombre" placeholder="Nombre" required>
    <input type="text" name="apellido" placeholder="Apellido" required>
    <input type="number" name="edad" placeholder="Edad" required>
    <select name="role" required>
        <option value="user">Usuario</option>
        <option value="admin">Administrador</option>
    </select>
    <button type="submit">Iniciar sesi칩n</button>

    <div>
        <a href="api/session/github"> <button> Iniciar sesi칩n con GitHub </button> </a>
    </div>
</form>
